<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Web App" }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50 transition-colors duration-300">

  <div id="main" class="max-w-7xl mx-auto p-6">
    <!-- Header Section -->
    <header class="mb-8">
      <h1 class="text-4xl font-semibold text-center text-gray-800 dark:text-gray-100">Ваши файлы</h1>
    </header>

    <main>
      <!-- Create Category Button -->
      <div class="mb-6 flex justify-end">
        <button 
          id="create-category-btn" 
          class="bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700 dark:bg-green-500 dark:hover:bg-green-600 transition duration-200 shadow-lg transform hover:scale-105">
          Создать категорию
        </button>

        <button 
          id="download-all-on-category-btn"
          class="bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700 dark:bg-green-500 dark:hover:bg-green-600 transition duration-200 shadow-lg transform hover:scale-105 ml-6">
          Скачать все изображения
        </button>
         
      </div>
      <div>
        <input 
          id="search-input" 
          type="text" 
          placeholder="Поиск..." 
          class="w-full px-3 py-2 rounded-lg border-gray-300 dark:border-gray-600 focus:border-blue-500 focus:ring focus:ring-blue-200 dark:focus:ring-blue-800 bg-gray-600 text-white" />
      </div>
      
      <!-- Category Creation Form -->
      <div id="create-category-form" class="hidden bg-white dark:bg-gray-800 rounded-lg p-6 shadow-xl transform transition-all duration-300">
        <form id="new-category-form" method="POST" action="/category/">
          <div class="mb-4">
            <label for="category-name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Название категории</label>
            <input
              id="category-name" name="name" 
              class="mt-2 block w-full border-gray-300 dark:border-gray-600 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 dark:focus:ring-blue-800 bg-gray-600 text-white" 
              required />
          </div>
          <div class="mb-4">
            <label for="category-description" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Описание категории</label>
            <textarea 
              id="category-description" name="description" 
              class="mt-2 block w-full border-gray-300 dark:border-gray-600 bg-gray-600 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 dark:focus:ring-blue-800"></textarea>
          </div>
          <div class="flex justify-end space-x-4">
            <button type="submit" 
              class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 transition duration-200">
              Сохранить
            </button>
            <button type="button" 
              id="cancel-create-category" 
              class="bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-600 dark:bg-gray-400 dark:hover:bg-gray-500 transition duration-200">
              Отмена
            </button>
          </div>
        </form>
      </div>

      <!-- Folders Section -->
      {% set sorted_folders = folders | sort(attribute='name') %}
      {% set folder_icons = 
        {
          "Amber": "/static/icons/Amber_Icon.webp",
          "Arlecchino": "/static/icons/Arlecchino_Icon.webp",
          "Ayaka": "/static/icons/Ayaka_Icon.webp",
          "Barbara": "/static/icons/Barbara_Icon.webp",
          "Charlotte": "/static/icons/Charlotte_Icon.webp",
          "Chevreuse": "/static/icons/Chevreuse_Icon.webp",
          "Chiori": "/static/icons/Chiori_Icon.webp",
          "Citlali": "/static/icons/Citlali_Icon.webp",
          "Clara": "/static/icons/Clara_Icon.webp",
          "Clorinde": "/static/icons/Clorinde_Icon.webp",
          "Collei": "/static/icons/Collei_Icon.webp",
          "Diona": "/static/icons/Diona_Icon.webp",
          "Eris": "/static/icons/Eris_Icon.webp",
          "Eula": "/static/icons/Eula_Icon.webp",
          "Faruzan": "/static/icons/Faruzan_Icon.webp",
          "Fischl": "/static/icons/Fischl_Icon.webp",
          "Furina": "/static/icons/Furina_Icon.webp",
          "Ganyu": "/static/icons/Ganyu_Icon.webp",
          "HuTao": "/static/icons/HuTao_Icon.webp",
          "Jean": "/static/icons/Jean_Icon.webp",
          "Kachina": "/static/icons/Kachina_Icon.webp",
          "Keqing": "/static/icons/Keqing_Icon.webp",
          "Kirara": "/static/icons/Kirara_Icon.webp",
          "Klee": "/static/icons/Klee_Icon.webp",
          "Kokomi": "/static/icons/Kokomi_Icon.webp",
          "Kujou Sara": "/static/icons/KujouSara_Icon.webp",
          "Kukishinobu": "/static/icons/Kukishinobu_Icon.webp",
          "Layla": "/static/icons/Layla_Icon.webp",
          "Lynette": "/static/icons/Lynette_Icon.webp",
          "Lisa": "/static/icons/Lisa_Icon.webp",
          "Lumine": "/static/icons/Traveler_Icon.webp",
          "Mavuika": "/static/icons/Mavuika_Icon.webp",
          "Mash": "/static/icons/Mash_Icon.webp",
          "Miko": "/static/icons/Yae_Miko_Icon.webp",
          "Mona": "/static/icons/Mona_Icon.webp",
          "Nahida": "/static/icons/Nahida_Icon.webp",
          "Navia": "/static/icons/Navia_Icon.webp",
          "Nilou": "/static/icons/Nilou_Icon.webp",
          "Ningguang": "/static/icons/Ningguang_Icon.webp",
          "Noelle": "/static/icons/Noelle_Icon.webp",
          "Paimon": "/static/icons/Paimon_Icon.webp",
          "Qiqi": "/static/icons/Qiqi_Icon.webp",
          "Raiden": "/static/icons/Raiden_Icon.webp",
          "Rosaria": "/static/icons/Rosaria_Icon.webp",
          "Sayu": "/static/icons/Sayu_Icon.webp",
          "Shenhe": "/static/icons/Shenhe_Icon.webp",
          "Sovmest" : "/static/icons/Sovmest_Icon.webp",
          "Sucrose": "/static/icons/Sucrose_Icon.webp",
          "Xiangling": "/static/icons/Xiangling_Icon.webp",
          "Yelan": "/static/icons/Yelan_Icon.webp",
          "Yaoyao": "/static/icons/Yaoyao_Icon.webp",
          "Yun Jin": "/static/icons/Yun Jin_Icon.webp",
          "Yoymia": "/static/icons/Yoimiya_Icon.webp",
          "Fubuki" : "/static/icons/Fubuki_Icon.webp",
          "Firefly" : "/static/icons/Firefly_Icon.webp",
        } 
      %}
      <div id="folders" class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% if sorted_folders %}
            {% for folder in sorted_folders %}
                <div 
                    id="folder-{{ folder.id }}" 
                    class="folder-image-see p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg hover:shadow-xl transition duration-300 transform hover:scale-105">
                    <div class="flex justify-between items-center mb-4">
                        <!-- Иконка персонажа -->
                        <div class="flex items-center">
                            <img 
                                src="{{ folder_icons.get(folder.name, 'static/icons/default.webp') }}" 
                                alt="{{ folder.name }} Icon" 
                                class="h-14 w-14 mr-4">
                            <p class="text-xl font-semibold text-gray-800 dark:text-gray-100">{{ folder.name }}</p>
                        </div>
                        <button type="submit"
                            class="delete-category-btn text-red-600 hover:underline" 
                            data-folder-id="{{ folder.id }}">
                            Удалить
                        </button>
                    </div>
                    <!-- Зона загрузки файлов -->
                    <div 
                        class="drop-area w-full border-2 border-dashed border-gray-300 dark:border-gray-600 rounded-lg p-6 text-center cursor-pointer bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-200" 
                        data-folder-id="{{ folder.id }}">
                        <p class="text-sm text-gray-600 dark:text-gray-400">Перетащите файлы сюда для загрузки</p>
                        <input type="file" multiple class="hidden file-input" />
                    </div>
                    <!-- Отображение количества файлов -->
                    <p class="text-sm text-gray-600 dark:text-gray-400 image-count mt-4 flex items-center bg-gray-50 dark:bg-gray-700 px-3 py-2 rounded-lg shadow-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h11M9 21H7a4 4 0 01-4-4V9a4 4 0 014-4h6a4 4 0 014 4v2m-3 4h6m-3-3v6"/>
                        </svg>
                        {% if folder.image_count == 0 %}
                            Нет файлов
                        {% elif folder.image_count == 1 %}
                            Один файл
                        {% else %}
                            <span class="font-medium mr-1">Файлов:</span>
                            <span class="font-semibold">{{ folder.image_count }}</span>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-gray-500 dark:text-gray-400">Папки не найдены</p>
        {% endif %}
      </div>

    </main>
  </div>
  
  <script type="module" src="{{ url_for('static', path='js/index.js') }}"></script>
</body>
</html>
